.header {
  display: flex;
  align-items: center;
  padding: 20px 64px;
  height: 72px;
  background: var(--inputs);
   border-bottom: 1px solid #f2f4f7;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 40px;
}

.link {
  font-family: var(--font-family);
  font-size: 16px;
  color: #101828;
  text-decoration: none;
  transition: color 0.2s;
}

.active {
  color: var(--grey-green);
}