.details {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px;
  display: flex;
  flex-direction: column;
  gap: 88px;
}

.topSection {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.galleryCol {
  flex-shrink: 0;
  width: 638px;
}

.infoCol {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoCard {
  display: flex;
  flex-direction: column;
  width: 650px;
  padding: 24px;
  background: var(--inputs);
  border-radius: 16px;
  gap: 8px;
}

.bottomSection {
  display: flex;
  gap: 60px;
  align-items: flex-start;
}

.formCol {
  flex-shrink: 0;
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: #101828;
}

.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #101828;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 16px;
}

.description {
  color: #475467;
  line-height: 1.5;
}


.vehicleDetails {
  width: 650px;
  padding: 24px;
  background: var(--inputs);
  border-radius: 16px;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 24px;
}


.features {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  height: 48px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
  border-radius: 100px;
  font-size: 16px;
  color: #101828;
  text-transform: capitalize;
}

.divider {
  height: 1px;
  background: var(--gray-light);
  margin: 24px 0;
}

.specs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.spec {
  display: flex;
  justify-content: space-between;
  
}
.spec span {
  font-family: var(--font-family);
  font-weight: 400;         
  font-size: 16px;
  line-height: 1.5;
  color:  #101828;
}

.reviewsSection {
  display: flex;
  flex-direction: column;
}

.reviewsCol {
  flex: 1;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  padding: 16px;
  background: var(--inputs);
  border-radius: 16px;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f2f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--grey-green);
}

.reviewerName {
  font-weight: 600;
  color: #101828;
}

.stars {
  display: flex;
  gap: 4px;
}

.starFull {
  color: #ffc531;
}

.starEmpty {
  color: var(--gray-light);
}

.reviewText {
  color: #475467;
  line-height: 1.5;
  margin-top: 8px;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

