.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.main {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.mainImage {
  width: 100%;
  height: 440px;
  object-fit: cover;
  border-radius: 10px;
}

.thumbs {
  width: 100%;
}

.thumbImage {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}